:root {
  --page-bg: #1f1f1f;
  --panel-green: #01A340;
  --panel-green-dark: #03540d; 
  --gold: #e7d787;
  --white: #ffffff;
  --text-dark: #121212;

}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--page-bg);
}

body {
  min-height: 100vh;
  padding: 0px 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  background: var(--panel-green-);
  overflow: hidden;
  scroll-snap-type: y mandatory;
}

.panel,
.footer-line {
  background-color: #01a340;
  scroll-snap-align: start;
  position: relative;
  overflow: hidden;
  background: var(--panel-green);
}

* {
  outline: 1px solid red;
}

/* IMPORT FONTS */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bree+Serif&display=swap');

@font-face {
  font-family: 'Berlin Sans';
  src: url('fonts/berlinsansFBDemi.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* HERO BASE */
.hero {
  position: relative;
  min-height: 878px;
  height: 50vh;
  background-color: #01A340;
  overflow: hidden;
}

/* NAVBAR */
.nav {
  max-width: 1450px;
  margin: 0 auto;
  display: flex;
  
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

/* LEFT */
.nav-left .logo {
  font-size: 18px;
  font-weight: bold;
}

/* RIGHT */
.nav-right {
  
  display: flex;
  gap: 90px;
}

.nav-right a {
  padding-right: -30px;
  text-decoration: none;
  color: #e7d787;
  font-size: 30px;
}

/* FLOWER (LEFT SIDE — FIXED) */
.hero-flower {
  image-rendering: -webkit-optimize-contrast;
  position: absolute;
  left: -105px;
  top: 35px;
  width: 650px;
  transform: scaleX(-1) rotate(-3deg);;
  z-index: 1;
}

/* TITLE */
.hero-title {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  position: absolute;
  top: 60px;
  left: 5%;

  font-family: 'Berlin Sans', sans-serif;
  font-size: 228px;
  color: #e7d787;
  z-index: 2;
}

/* TEXT RIGHT SIDE */
.hero-text {
  position: absolute;
  top: 360px;
  right: 10%;
  width: 400px;
  z-index: 3;
}

.hero-text p {
  font-family:  'Inter', serif;
  color: white;
  letter-spacing: 0.2px;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.7;
}


.copy p {
  margin: 0;
  color: var(--white);
  font-family: "Bree Serif", serif;
  font-size: 15px;
  line-height: 1.16;
}

.section-one {
  background-color: #01A340;
  height: 500px;
}

.section-two {
  position: relative;
  height: 650px;
  overflow: hidden;

  background: radial-gradient(
    circle at 30% 50%,
    #0fb73c 0%,
    #066a1f 40%,
    #022e0b 100%
  );
}
.section-three {
  height: 750px;
  background-color: #01A340;
}

.number {
  position: absolute;
  left: 20px;
  top: 50px;
  margin: 0;
  color: var(--gold);
  font-family: "Abril Fatface", serif;
  font-size: 180px;
  line-height: 0.84;
}

.copy {
  position: absolute;
}

.copy h2 {
  margin: 0px 0px 0px 14px;
  color: var(--white);
  font-family:'Kavoon', cursive;
  font-size: 58px;
  line-height: 1.1;
  letter-spacing: -0.5px;
}

.section-one .copy {
  top: 60px;
  right: 462px;
  width: 320px;
  
}

.section-one .copy p {
  width: 320px;
  font-family:  'Inter', serif;
  color: white;
  letter-spacing: 0.2px;
  right: 462px;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.7;
  
}


.number-01 {
  top: 120px;
  left: 350px;
  font-size: 250px;
}

.section-two .copy {
  position: absolute;
  top: 250px;
  left: 120px;
  width: 350px;
  z-index: 2;
}

.section-two .copy p {
  width: 400px;
  font-family:  'Inter', serif;
  color: white;
  letter-spacing: 0.2px;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.7;
}
.number-02 {
  top: 20px;
  left: 100px;
  font-size: 250px;
}

.honey-art {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;     /* FULL HEIGHT */
  width: auto;
  z-index: 1;
}

.honey-art img {
  height: 100%;
  width: auto;
  object-fit: cover;
  display: block;
}

.leaf-art {
  position: absolute;
  height: auto;
  display: block;
}

.leaf-art-1 {
  left: -140px;
  top: 90px;
  width: 235px;
  transform: rotate(25deg);
  z-index: 2;
  opacity: 0.95;
  clip-path: inset(0px 00px 180px 140px);
}

.leaf-art-2 {
  left: -135px;
  top: 60px;
  width: 235px;
  transform: rotate(1deg);
  z-index: 2;
  opacity: 0.95;
  clip-path: inset(0px 0px 100px 100px);
}

.leaf-art-3 {
  left: -90px;
  top: 140px;
  width: 200px;
  transform: rotate(40deg);
  z-index: 1;
  opacity: 0.95;
  clip-path: inset(0 0px 0px 0);
}

.section-three-copy {
  position: absolute;
  inset: 0;
}

.number-03 {
  top: 50px;
  left: 1000px;
  font-size: 250px;
}

.section-three-copy .copy {
  top: 300px;
  left: 1000px;
  width: 405px;
}

.section-three .copy p {
   width: 400px;
  font-family:  'Inter', serif;
  color: white;
  letter-spacing: 0.2px;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.7;
}

.footer-line {
  padding: 20px 18px;
  border-top: 1px solid rgba(255, 255, 255, 0.8);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
  color: var(--white);
  font-family: "Bree Serif", serif;
  font-size: 9px;
}

.footer-block {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footer-block strong {
  color: var(--gold);
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 0.7px;
}

.footer-block span {
  color: var(--white);
}

@media (max-width: 560px) {
  body {
    padding: 8px 0;
  }

  .page {
    width: calc(100vw - 12px);
  }
}
